
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Customer Register Form</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CustomerName" Placeholder="Name" required="" />
                <input type="text" class="name" name="CustomerSurname" Placeholder="Surname" required="" />
                <input type="text" class="name" name="CustomerCity" Placeholder="City" required="" />
                <input type="email" class="email" name="CustomerEmail" Placeholder="Email" required="" />
                <input type="password" class="password" name="CustomerPassword" Placeholder="Password" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> I Accept to the <a href="#">Terms &amp; Conditions</a></label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>

