
@{
    ViewBag.Title = "Index6";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Result Visualization</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeProductResultDb", "Graphic")',//controller
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Stocks');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.ProductNameDb, obj.StockDb]);//change properties
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Product - Stock Graph",
                width: 1200,//genişlik
                height: 800,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.LineChart(document@* line, column *@
                .getElementById('linechart_div')); @* line, column *@
           columnChart.draw(data, columnChartOptions);
        }
    </script>

</head>

<body>
    <div id="linechart_div"></div>@*line, column  *@
</body>

</html>

