@using MVCOnlineCommercialAutomation.Models.Classes
@model List<InvoiceItem>
@{
    ViewBag.Title = "DetailInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Invoice Items Page</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Explanation</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Price</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Explanation</td>
            <td>@d.Quantity</td>
            <td>@d.UnitPrice</td>
            <td>@d.Price</td>
        </tr>
    }
</table>



<a href="/Invoice/AddInvoiceItem" class="btn btn-default" style="background-color:aquamarine">New Invoice Items</a></
