@model MVCOnlineCommercialAutomation.Models.Classes.Category
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Update Category</h2>
<br />

@using (Html.BeginForm("UpdateCategory","Category",FormMethod.Post))
 {
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.CategoryId)
        <br />
        <button class="btn btn-warning">Save</button>
    </div>
 }

