@using MVCOnlineCommercialAutomation.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).on('click', '#btn', function (e) {
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "Once you delete this record, you cannot get it back!!",
            icon: "warning",
            buttons: ["Cancel", "Delete"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                } else {
                    swal("Your record is safe!");
                }
            });
    });
</script>

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var c in Model)
    {

        <tr>
            <td>@c.CategoryName </td>
            <td><a href="/Category/DeleteCategory/@c.CategoryId" class="btn btn-danger" id="btn">Delete</a></td>
            <td><a href="/Category/GetCategory/@c.CategoryId" class="btn btn-info">Update</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    {"page-link"}
})
<a href="/Category/AddCategory" class="btn btn-primary"> Add Category</a>


