@using MVCOnlineCommercialAutomation.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var c in Model)
    {

        <tr>
            <td>@c.CategoryName </td>
            <td><a href="/Category/DeleteCategory/@c.CategoryId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Category/GetCategory/@c.CategoryId" class="btn btn-info">Update</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Category/AddCategory" class="btn btn-primary"> Add Category</a>


