@using MVCOnlineCommercialAutomation.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DetailDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Department Details</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Department Name : @ViewBag.dpt</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Personnel</th>
        <th>Sales</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.EmployeeName @d.EmployeeSurname</td>

            <td><a href="/Department/DepartmentEmployeeSale/@d.EmployeeId" class="btn btn-default" style="background-color:aquamarine">Sales</a></td>
        </tr>
    }
</table>
